@use "../variables/variables.scss" as *;


body {
  background-image: url(./img/equipo-de-gimnasio-en-3d.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
}

html { scroll-behavior: smooth; }

/* Utilidades simples que usás */
.custom-bg { background-color: $color-primary; }

