$color-primary: rgb(20, 71, 230);
$color-bg-body: #ffffff;
$color-cont-text: rgb(189, 204, 249);
$color-main-bg: rgb(232, 237, 253);
$color-footer-bg: #000;
$color-footer-text: #fff;

// Tamaños
$nav-logo-height: 50px;
$nav-logo-height-mobile: 40px;
$card-width: 18rem;
$border-radius: 1rem;

// Sombra
$shadow-card: 0 4px 12px rgba(0, 0, 0, 0.1);
$shadow-cont-text: 1px 9px 6px 2px rgba(2,7,23,0.8);