@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.grupo-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;

  .card {
    width: $card-width;
    background-color: white;
    border-radius: $border-radius;
    overflow: hidden;
    @include box-shadow($shadow-card);
  }
}

.adultos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}