@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;

/* Parte fija que pusiste fuera de media queries */
#carouselExampleDark {
  padding: 2rem;
  background-color: $color-primary;
   color: $color-footer-text;
}

  #carouselExampleDark {
    max-width: 70%;
    margin: 2rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $color-footer-text;

  }