@use "../abstracts/mixins.scss" as *;
@use "../abstracts/variables.scss" as *;

.footer-form {
  display: block; // Mobile first
}

 @include responsive($min:801px) {
    .footer-form{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
        gap: 1rem;}
  }