@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer-contenedor {
  background-color: $color-footer-bg;
  color: $color-footer-text;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-redes {
  width: 45%;
  margin: 2rem;
}

.footer-iconos {
  display: flex;
  margin-top: 10px;

  img {
    margin: 10px;
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.footer-formulario {
  width: 45%;
  flex-direction:column;

  input,
  textarea {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }
}

.titulos {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

#footer-form {
  display: block; // Mobile first
}

 @include responsive($min:801px) {
    #footer-form{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
        gap: 0.5rem;
      width: 70%;
    height: 70%;}
  }