@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.custom-bg {
  background-color: $color-primary;
}

.nav-logo {
  height: $nav-logo-height;
  width: auto;
}

@include responsive($max: 500px) {
  .nav-logo {
    height: $nav-logo-height-mobile;
  }

  .navbar-collapse {
    background-color: $color-primary;
    padding: 1rem;
  }

  .navbar-nav {
    text-align: center;
  }
}