@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.cont-text-index {
  background-color: $color-cont-text;
  border-radius: $border-radius;
  padding: 1.5rem;
  margin: 2rem auto;
  @include box-shadow($shadow-cont-text);
  position: relative;
  @include flex-center(column);
  width: 65%;
}

#carouselExampleDark {
  padding: 2rem;
  background-color: $color-primary;
  @include flex-center(column);
}

.color-main {
  background-color: $color-primary;
  padding-top: 5rem;
}

#img-fluid-mov{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#conocer-index{
  display: flex;
  align-items: center;
  justify-content: center;
}