// Colores
$color-primary: rgb(20, 71, 230);
$color-secondary: rgb(203, 211, 237);
$color-dark: #000;
$color-light: #fff;

// Sombras
$shadow-strong: 1px 9px 6px 2px rgba(2, 7, 23, 0.8);

// Breakpoints (coinciden con tu CSS)
$bp-mobile: 500px;   // <= 500px
$bp-desktop: 801px;  // >= 801px
