@use "../variables/variables.scss" as *;
@use "../variables/mixins.scss" as *;

/* Tarjeta de texto destacada */
.cont-text-index {
  background-color: $color-secondary;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem auto;
  box-shadow: $shadow-strong;
  -webkit-box-shadow: $shadow-strong; /* mantenés prefijos en tu CSS */
  -moz-box-shadow: $shadow-strong;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 75%;
}

/* Ancho que aplicás sólo en >= 501px (tablet) y >= 801px (desktop) */
@include between(calc(#{$bp-mobile} + 1px), $bp-tablet) {
  .cont-text-index {
    width: 70%;
    margin: 2rem auto;
    position: relative;
  }
}
@include up($bp-desktop) {
  .cont-text-index {
    width: 70%;
    margin: 2rem auto;
    position: relative;
  }
}

/* Hero/Sección principal con color */
.color-main {
  background-color: $color-primary;
  padding-top: 5rem;
}

/* CTA / link de “conocer” (igual en mobile y desktop en tu CSS) */
#conocer-index {
  text-align: center;
  padding-top: 2rem;
  text-decoration: underline;
}

/* Imagen móvil/tablet centrada (ID usado por vos) */
@include between(calc(#{$bp-mobile} + 1px), $bp-tablet) {
  #img-fluid-mov {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
}
@include up($bp-desktop) {
  #img-fluid-mov {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
}